/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
  text-align: center;
   margin: 0px;
   padding-bottom: 1px;
  font-family: "Times New Roman", Times, serif;
}

body {
 background-color: #5CDB95;  
}

/* STYLE TEXT */
header {
  color: #021427;
  font-family: "Times New Roman", Times, serif;
  font-size: 64px;
}
body{
  color: #021427;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  text-align: center;
}
#small{
  font-size: 50px;
}
#space{
  text-align: center;
  line-height: 1.5em;
  text-style: square;
}

/* STYLE IMAGES */
    img{
      width-right: 50%;
      height: 450px; 
    }
/* STYLE NAV BAR */
nav {
  text-align: center;
  list-style: none;
}
ul{
  background-color: #05386B;
  padding: 1em;
}
li{ display: inline;
   font-family: "Times New Roman", Times, serif;
    }
li a{
  text-decoration: none;
  color:#EDF5E1;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  padding: 1em;
}
li a{ hover: 
}
/* STYLE BUTTONS */
#centerInput{
  text-align: center;
}
button{
  position: center;
  background-color: #05386B;
  color: #EDF5E1;
  padding: 12px 28px;
  width:250px;
  font-size: 20px;
}


/* ADD MORE! */
    .first-txt {
            position: absolute;
            top: 17px;
            left: 50px;
        }